@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<div id="box1">
    <h2>
        Welcome to Serious Face
    </h2><img class="left" src="images/pic2.jpg" width="184" height="184" alt="" />
    <p>
        This is <strong>Serious Face</strong>, a two column CSS template by
        <a href="http://templated.co" rel="nofollow">TEMPLATED</a> with photos from
        <a href="http://www.pdphoto.org/">PDPhoto</a>. It's released (for free) under the
        <a href="http://templated.co/license/">Creative Commons Attribution license</a>,
        so feel free to use it for any personal or commercial work (just give us credit for it).
        Hit up our <a href="http://templated.co">website</a> for more awesomely
        cool free templates, and follow us on <a href="http://twitter.com/templatedco">Twitter</a>
        (<a href="http://twitter.com/templatedco">@@templatedco</a>) for updates, announcements, and other
        mildly interesting ramblings.
    </p>
</div>
<div id="box2">
    <h3>
        Parturient amet blandit
    </h3>
    <ul class="imageList">
        <li class="first">
            <img class="left" src="images/pic2.jpg" width="72" height="72" alt="" /> <span>Iaculis risus lectus tortor libero nisl quisque nunc mauris parturient amet suspendisse in porta.</span>
        </li>
        <li>
            <img class="left" src="images/pic2.jpg" width="72" height="72" alt="" /> <span>Lacinia tristique dis cras mattis ultricies massa leo metus rhoncus augue nascetur suscipit velit.</span>
        </li>
        <li class="last">
            <img class="left" src="images/pic2.jpg" width="72" height="72" alt="" /> <span>Nunc integer sed arcu vitae nascetur placerat magnis donec proin fusce neque elementum nulla.</span>
        </li>
    </ul>
</div>
<div id="box3">
    <h3>
        Aenean accumsan
    </h3><img class="top" src="images/pic1.jpg" width="360" height="155" alt="" />
    <p>
        Parturient cras orci augue parturient. Cursus donec elementum consectetur consequat. Mattis ultricies
        amet consequat magna non vel placerat lorem ipsum dolore sit amet nullam consequat. Lacinia tristique
        dis cras mattis ultricies.
    </p>
</div>
<br class="clear" />